# Environment Variables
.env
.env.*
!.env.example
*.env
*.env.*

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.venv/
venv/
ENV/
env/

# Databases
*.db
*.sqlite
*.sqlite3

# Logs
*.log
